<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title == site.title %}{{ page.title }}{% else %}{{ page.title }} – {{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/css/custom.css' | relative_url }}">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
</head>
<body{% if page.url == "/" %} class="home-page"{% endif %}>
  <a href="#main-content" class="visually-hidden focusable">Skip to main content</a>
  {% include nav.html %}
  {% if page.url == "/" %}
    <div class="game-card-wrapper">
      {% capture game_card %}{{ content | split: '<div class="retro-console">' | last | split: '</div>' | first }}{% endcapture %}
      <div class="retro-console">
        {{ game_card }}</div>
    </div>
  {% endif %}
  <main id="main-content" tabindex="-1">
    {% if page.url == "/" %}
      {{ content | remove_first: '<div class="retro-console">' | remove_first: game_card | remove_first: '</div>' }}
    {% else %}
      {{ content }}
    {% endif %}
  </main>
  <footer>
    &copy; {{ site.time | date: '%Y' }} Tomislav Hofman
  </footer>
</body>
</html>
